@import "_icons";

.flexSpacer {
  flex: 1;
}

/*
 * Custom Scrollbar
 */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color);
}
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color);
  border-radius: var(--scrollbar-width);
}

/*
 * body
 */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--color);
  background-color: var(--background-color);
  font-family: Heebo;
  font-size: 12px;
  user-select: none;

  --scrollbar-width: 8px;
  --red: #f53c3c;
  --yellow: #f4c500;

  /* DEMO STYLES */
  --background-color-inactive: rgb(66, 66, 66);
  --highlight-color: #0078d7;
  --background-color: #535353;
  --color-inactive: rgba(221, 221, 221, 0.5);
  --color: #dddddd;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

/*
 * PIXXIO
 */
#pixxioWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  position: relative;

  .field {
    border-color: var(--color);

    input {
      background-color: transparent;
      color: var(--color);
    }

    label {
      background-color: var(--background-color);
      color: var(--color);
    }
  }

  .buttonGroup {
    background-color: var(--background-color);

    & > p,
    & > ul {
      display: none;
    }

    .button {
      &--secondary {
        color: var(--primary-color);
      }

      &[type="submit"] {
        background-color: var(--primary-color);
        color: var(--background-color);

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }

  #pixxio-ta-loading {
    position: absolute;
    inset: 0;
    background-color: var(--background-color);
    opacity: 0.5;
  }

  main {
    color: unset;

    .container {
      flex: 1;
      display: flex;
      flex-direction: column;
      background-color: transparent;

      header {
        margin-top: 5px;

        a.close {
          display: none;
        }
      }

      .pixxioSectionFiles {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 0;

        .pixxioFiles {
          flex: 1;
          display: flex;
          flex-direction: column;
          min-height: 0;

          .pixxioFiles__container {
            flex: 1;

            .pixxioSquare {
              background-color: var(--background-color-inactive);
            }
          }
        }
      }

      small {
        color: var(--color);
        margin-top: 10px;

        a {
          color: unset;
        }
      }
    }
  }
}

/*
 * BUTTON
 */
.button {
  padding: 0 16px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  line-height: 36px;
  border-radius: 4px;
  font-size: 12px;
  display: inline-block;
  border: none;
  transition: background-color 200ms ease;
  cursor: pointer;
  outline: none;
  position: relative;
  background-color: transparent;
  color: var(--color);

  &:disabled,
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      color: unset;
    }
  }

  &:not(.tooltip):not([disabled]):hover:after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #fff;
    opacity: 0.1;
  }

  &--action {
    background: var(--primary-color);
    color: var(--background-color);
    box-shadow: 0px 1px 3px #00000033;
  }
}

/*
 * TOOLTIP
 */
.tooltip {
  position: relative;

  &::before,
  &::after {
    --scale: 0;
    --arrow-size: 10px;
    --tooltip-color: var(--color-inactive);
  
    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;
    text-transform: none;
    font-size: .8em;
    line-height: 1.5em;
    letter-spacing: normal;
  }

  &::before {
    --translate-y: calc(-100% - var(--arrow-size));
  
    content: attr(data-tooltip);
    color: white;
    padding: .5rem;
    border-radius: .3rem;
    text-align: center;
    width: max-content;
    max-width: 100%;
    background: var(--tooltip-color);
  }

  &:hover::before,
  &:hover::after {
    --scale: 1;
  }

  &::after {
    --translate-y: calc(-1 * var(--arrow-size));
  
    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
  }
}